:root {
  --main-bar-blue: #0c0382;
  --main-bg-blue:  #0706DD;
  --other-main-bg: #1659bf;
  --nav-blue: #0f4098;
  --clear-bg: whitesmoke;

}

@font-face {
  font-family: 'Futura Md BT';
  src: url(./assets/futurab.ttf);
}

@font-face {
  font-family: 'Futura Al';
  src: url(./assets/futural.ttf);
}

body{
  background-color: whitesmoke;
  margin: 0 auto;
  padding: 0;
  font-family: 'Futura Md BT';
}

.navbar-link-2{
  margin: 0;
  height: 40px;
  display: flex;
  font-family: 'Helvetica';
  font-size: 14px;
  padding: 5px;
  text-transform: uppercase;
  background-color: var(--nav-blue);
}

.scnd-x-wrap{
  display: flex;
  align-items: center;
  margin-left: 105px;
}

.scnd-x{
  display: flex;
  
}
.scnd-x img{
  width: 45px;
  margin: 5px;
}

.scnd-x-link img{
  width: 30px;
  height: 35px;  
}

.scnd-x-link{
  display: flex; 
  width: 250px; 
}
.content-wrap{
  background-color: #1659bf;
  background-image: radial-gradient(ellipse at center center, #1659bf 1%, #234b90 100%);
  margin: 0 auto;
  padding: 0;
}

nav{
  color: white;

}

.navbar-container{
  flex-direction: row;
  align-items: center;
  display: flex;
  padding: 10px;
  margin-left: 70px;
}

.navbar-container-x p{
  font-family: 'Helvetica';
  margin-bottom: 25px;
  font-size: 15px;

}

.navbar-container-x h1{
  width: 390px;
  margin: -10px 0px;
  margin-bottom: 10px;
  font-size: 30px;
}

.navbar-logo img{
  margin: 5px 20px;
  width: 80px;
}

.navbar-link{
  display: flex;
  font-size: 14px;
  font-family:'Helvetica';
  text-transform: uppercase;
  background-color: var(--nav-blue);
}

.navbar-links button{
  width: 180px;
  height: 30px;
  border-top: none;
  border-left: none;
  border-bottom: none;
  background-color: var(--nav-blue);
  border-right: 1px solid rgb(112, 112, 112);
}

.navbar-links a{
  margin: 0;
  padding: 10px;
  color: white;
  text-decoration: none;
  font-family: 'Helvetica';
  text-transform: uppercase;
}

#main-content{
  display: block;
  margin: 0 auto;
  height: auto;
  
}

.content-x{
  display: flex;
  margin: 0 auto;
  justify-content: center;

}

.text-content{
  display: flex;
  padding: 10px;
  margin: 0 auto;
  justify-content: space-around;
}

textarea{
  width: 450px;
  resize: none;
  padding: 10px; 
  height: 550px;
  margin: 10px;
  font-size: 14px;
  overflow-y: auto;
  border-radius: 5px;
  font-family: 'Futura Al';
  background-color: var(--clear-bg);
}

textarea::-webkit-scrollbar {
  width: 10px;
}

textarea::-webkit-scrollbar-track {
  background-color: transparent;
  border-radius: 10px;
}

textarea::-webkit-scrollbar-thumb {
background-color: darkgrey;
outline: 1px solid slategrey;
border-radius: 10px;

}

#comparing-mech{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.comparing-box{
  /*border: 1px solid green;*/
  padding: 5px;
  justify-content: center;
  display: flex;

}

.op-btn{
  display: flex;
  justify-content: center;
}
.op-btn button{
  color: white;
  padding: 5px;
  margin: 5px;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  border: none;
  background-color: var(--nav-blue);
  font-family: 'Futura Md BT';
}

button:hover{
  background-color: var(--clear-bg);
  color: var(--nav-blue);
  border: 1px solid var(--nav-blue);
}

#results{
  display: none;
  padding: 10px;
  font-family:'Futura Al';
}

#rebootFields{
  display: none;
}
.highlight{
  background-color: yellow;
  font-weight: bold;
}

.op-btn-pdf{
  display: block;
  margin: 10px;
}

#get-pdf{
  width: auto;
  color: white;
  padding: 5px;
  text-transform: uppercase;
  background-color: var(--nav-blue);
  border: none;
  font-family: 'Futura Md BT';
  display: none;
}

#get-pdf:hover{
  background-color: var(--clear-bg);
  color: var(--nav-blue);
  border: 1px solid var(--nav-blue);
}

/*.pdf-only {
  display: none;
}*/

  @media print {
  /*.pdf-only {
      display: block;
  }*/

  #results {
      page-break-inside: avoid;
  }

  #result1, #result2 {
      page-break-inside: avoid;
      margin-bottom: 20px;
  }

  .highlight {
      background-color: yellow;
      font-weight: bold;
  }
}

footer{
  background-color: var(--nav-blue);
  min-height: 50px;
  width: 100%;
  bottom: 0;
  position: sticky;
}
