:root {
    --main-bar-blue: #0c0382;
    --main-bg-blue: #0706DD;
    --other-main-bg: #1659bf;
    --nav-blue: #0f4098;
    --clear-bg: whitesmoke;
}

body, html{
    margin: 0;
    background-color: rgb(234, 234, 234);

}

#initial-page {
    background-color: #0c0382;
    height: 100vh;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Poppins";
}

#setup-initial-page {
    display: flex;
    padding: 35px;
    justify-content: center;
    align-items: center;
}

#page-id {
    display: flex;
    align-content: center;
}

#start {
    background-color: var(--main-bar-blue);
    border: 1px solid var(--main-bar-blue);
    align-items: center;
    margin-top: 15px;
    color: white;
    padding: 10px;
    cursor: pointer;
    width: 120px;
}

.icon-container{
    justify-content: center;
    align-content: center;
}

#start:hover{
    background-color: white;
    border: 1px solid var(--main-bar-blue);
    align-items: center;
    color: var(--main-bar-blue);
    padding: 10px;
}

#start i {
    margin-left: 10px;
}

.icon-container {
    align-items: center;
}

.icon-container img {
    width: 80px;
}

.title-container {
    display: block;
    margin-left: 20px;
}

.title-container p, h1 {
    padding: 0;
    margin: 0;
}

#page-assets {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    width: 1280px;
    height: 100vh;
    color: white;
    backdrop-filter: blur(14px) saturate(200%);
    -webkit-backdrop-filter: blur(14px) saturate(200%);
    border: 1px solid rgba(255, 255, 255, 0.125);
    background: linear-gradient(322deg, #0b0835, #005bbc, #1659bf, #0f4098);
    background-size: 800% 800%;
    border-top-left-radius: 375px;
    border-bottom-left-radius: 375px;
    animation: blueGrad 10s ease infinite;
}

@keyframes blueGrad {
    0% { background-position: 0% 51%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 51%; }
}


.doc-info-set {
    display: flex;
    margin-top: 155px;
}

.assets-display-doc img {
    height: 300px;
}

.assets-display-info {
    position: absolute;
    margin-top: -50px;
    margin-left: 110px;
    padding: 10px;
}

.text-presentation{
    width: 380px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: justify;
    width: 650px;
    margin-left: 155px;
}

.txt-txt{
    margin: 15px;
}